.container-span-icon{
    margin-right: 5px;
}

.link-icon{
    background-color: #c9c2bf;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    
}

.link-icon-1 button {
    cursor: pointer;
   border: none;
   background: #B5292F;
   color: #fff;
}

.link-icon-1{
    background-color: #B5292F !important;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
.link-icon-1 i{
    color: #f7f6f5;
}
.link-icon i {
    font-size: 14px;
    color: #333;
}
